@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200&family=Manrope:wght@200&family=Raleway:wght@100&family=Zen+Old+Mincho:wght@900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
/* padding:  0 100px; */
position: relative;
}
.bigcontainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    font-size: 18;
    font-family: "Arima Madurai", cursive;
}
.sidenav{
    display: none;
}
.logoname{
    /* margin-top: 9px; */
    text-align: start;
    
    height: 4vh;
}
.logo{
 display: none;   
}
.navbar , .left ,.right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px */
}
.navbar{
    justify-content: space-between;
    /* margin: 20px 130px; */
    border-bottom: 2px solid #ccc;
    padding: 30px ;

}
.left,.right{
    gap: 50px;
}

.avatar{
    height: 32px;
}
.sidenav-desktop{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 40px;

}
    /* gap */
    /* justify-content: space-between; */
    /* justify-content: center; */
a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
        
}
.btn-right{
    margin-left: -20px;
}
.btn-left{
    margin-right: -20px;
}
.img1 img{
    width: 70vh;
    height: 60vh;
    border-radius: 20px;

}
.img-p img{
    height: 14vh;
    border-radius: 10px;
}

.image-desktop{
    display: flex;
    gap: 27px;
    margin-top: 20px;
    justify-content: center;

}
.scroll{
    text-align: start;
    margin-left: 50px;
    /* display: flex; */
}


.btn-desktop{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.desktop{
    display: flex;
justify-content: center;
align-items: center;

    height: 100vh;
}

.right-desktop{
    margin-top: 50px;
    margin-left: 80px;
    text-align: start;
    width: 30%;
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 100%;
    padding-top: 150px;
}

h3{
    color: hsl(26, 100%, 55%);
}
h1{
    font-weight: bolder;
    margin-bottom: 20px;
}
.prix-desktop{
    display: flex;
    gap: 20px;
    font-size: 25px;
}
.promotion{
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    height: 25px;
    width: 37px;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    margin-top: 6px;

}
.prix-desktop  b{
    font-weight: bolder;
    /* font-size: 25px; */
}
.right2 {
    color: rgb(165, 161, 161);
    text-decoration: line-through;
    /* font-size: 20px ; */
}
#box{
    position: relative;
}

.number_of_orders{
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    z-index: -1;
}

.cart_container{

    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(165, 161, 161);
    z-index: 1;
    right: -600%;
    padding-bottom: 30px;
}

.cart_container img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.header_cart{
    padding: 20px;
    border-bottom: 1px solid rgb(165, 161, 161);
    width: 100%;
    text-align: start;
    font-size: 30px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 30px; */


    gap: 20px;
}
.price{
    display: flex;
    font-size: 18px;
}
.checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color:white;
    background-color: hsl(26, 100%, 55%);
    box-shadow:5PX 0 10PX 1px  hsl(26, 100%, 55%);
    height: 50px;
    padding: 10px 20px;
     border-radius: 10px;
     cursor: pointer;
     width: 80%;

}
.boxs{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.button1{

    display: flex;
width: 200px;
padding: 10px 20px;
border: 1px solid rgb(165, 161, 161);
border-radius: 10px;
justify-content: space-between;
align-items: center;

}


button {
    background: none;
    border: none;
    cursor: pointer;

}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color:white;
    background-color: hsl(26, 100%, 55%);
    box-shadow:5PX 0 10PX 1px  hsl(26, 100%, 55%);
    height: 50px;
    padding: 10px 20px;
     border-radius: 10px;
     cursor: pointer;
}

.number{
    border: none;
    text-align: center;
}





.center{
    width: 40%;
}

.filter{
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
top: 0;

    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;




}